@{
    ViewBag.Title = "Estaş A.Ş.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
            </hgroup>

        </div>
    </section>
}